@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit";
    color: #732105;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    align-items: center;
    justify-content: center;
    background-color: #fef7e2;
    display: flex;
    margin-inline: auto;
    margin-block-start: 2em;
    margin-block-end: 1em;
    font-weight: 500;
    flex-wrap: wrap;
    border-radius: 50px;
    width: 90%;
}

main {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header img {
    margin-right: 0.5em;
}

header img, header h1 {
    width: 50px;
    vertical-align: middle;
}
header h1 {
    font-size: 1.5em;
    display: inline-block;
    font-weight: 600;
}

header div:first-child {
    margin-inline: 2%;
}

header div {
    background-color: #ffdf7f;
    border-radius: 50px;
    padding: 0.5em;
}

main h2 {
    font-size: 2em;
    line-height: 1;
    align-self: flex-start;
}

main .card-section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

main .card {
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 50px;
    background-color: #fef7e2;
}
main .card img {
    width: 100%;
}

main .card div:not(:first-child) {
    padding-inline: 2%;
    padding-block: 10px;
}

main .card div:nth-child(2), main .card div:nth-child(3) {
    width: 49.5%;
    vertical-align: middle;
    padding-inline: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

main .card div:last-child {
    background-color: #ffdf7f;
    margin-inline: 30px;
    margin-block-end: 20px;
    border-radius: 50px;
}

.news-section {
    padding: 1em;
    margin-inline: auto;
    text-align: left;
}
.news-section img {
    width: 100%;
    margin-block: 1em;
}

.news-section h2 {
    padding: 0.1em;
    text-align: center;
}

.new {
    background-color:#fef7e2;
    display: flex;
    border-radius: 50px;
    flex-wrap: wrap;
    padding-inline: 2em;
    padding-block: 1em;
}

@media screen and (min-width: 400px) {
    header {
        padding: 1em;
        margin-inline: auto;
        margin-block-start: 2em;
        margin-block-end: 1em;
    }

    header div:first-child {
        flex-basis: 100%;
        margin-bottom: 1em;
    }

    header div {
        flex-basis: 45%;
        margin-inline: 2%;
        margin-block: 10px;
    }
}

@media screen and (min-width: 745px) {
    header {
        width: 100%;
        border-radius: unset;
        margin-block-start: unset;
    }


    header div:first-child {
        flex-basis: unset;
        margin-bottom: 1em;
        margin-inline: 5px;
        order: 3;
        padding-block: 10px;
        width: 150px;
    }

    header div {
        flex-basis: unset;
        margin-inline: 5px;
        margin-block: 10px;
        padding-inline: 1.4em;
        padding-block: 1em;
    }

    header img {
        width: 40px;
    }

    header div:nth-of-type(2) {
        order: 1;
    }
    header div:nth-of-type(3) {
        order: 2;
    }
    header div:nth-of-type(4) {
        order: 4;
    }
    header div:nth-of-type(5) {
        order: 5;
    }

    main .card-section {
        flex-wrap: wrap;
        align-self: flex-start;
        width: 100%;
        flex-direction: row;
    }
    
    main .card-section .card {
        width: 48%;
        margin-inline-end: 2%;
    }
    main .card-section .card:last-child {
        display: none;
    }
    .news-section {
        align-self: flex-start;
        padding: unset;
    }
    .news-section h2 {
        text-align: left;
    }
    
    .new {
        background-color:#fef7e2;
        display: flex;
        border-radius: 50px;
        flex-wrap: wrap;
        padding-inline: 2em;
        padding-block: 1em;
    }
}

@media screen and (min-width: 950px) {
    .container {
        flex-direction: row;
    }

    header {
        width: 25%;
        height: 1500px;
        flex-direction: row;
        align-content: flex-start;
    }
    main {
        margin-left: 2em;
    }
    main .card-section {
        flex-wrap: wrap;
        align-self: flex-start;
        width: 100%;
        flex-direction: row;
    }
    
    main .card-section .card {
        width: 31.33%;
        margin-inline-end: 2%;
    }
    main .card-section .card:nth-of-type(4) {
        display: none;
    }
    .news-section {
        align-self: flex-start;
        padding: unset;
    }
    .news-section h2 {
        text-align: left;
    }
    
    .new {
        background-color:#fef7e2;
        display: flex;
        border-radius: 50px;
        flex-wrap: wrap;
        padding-inline: 2em;
        padding-block: 1em;
    }
    header div:first-child {
        order: 1;
        width: 180px;
    }
    
    header div:nth-of-type(2) {
        order: 2;
        width: 180px;
        padding-block: 2em;
    }
    header div:nth-of-type(3) {
        order: 3;
        width: 180px;
        padding-block: 2em;
    }
    header div:nth-of-type(4) {
        order: 4;
        width: 180px;
        padding-block: 2em;
    }
    header div:nth-of-type(5) {
        order: 5;
        width: 180px;
        padding-block: 2em;
    }
}

@media screen and (min-width: 1130px) {
    main .card-section .card {
        width: 23%;
        margin-inline-end: 2%;
    }
    main .card-section .card:nth-of-type(4) {
        display: inline-block;
    }
}

@media screen and (min-width: 1200px) {
    main .card-section .card:nth-of-type(5) {
        display: inline-block;
    }
    main .card-section .card {
        width: 18%;
        margin-inline-end: 2%;
    }
}